---
# Front matter comment to ensure Jekyll properly reads file.
---

@import 'modern-resume-theme';

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
